<h1>Emprego Já</h1>
<p>Encontre seu emprego aqui</p>

<%= link_to 'Cadastrar Vaga', new_job_path %>

<% @jobs.each do |job| %>

<h2><%= job.title %></h2>
<%= job.description %>
<%= job.company_name %>
<%= job.job_category %>
<%= job.location %>

<% end %>
